{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">
    <h3 style="text-align: center;">Liste des produits dans le panier :</h3>
    {% set longtab = 0 %}
    {% set inc = 1 %}
    {% set montanttotal = 0 %}
    <table class="table">
        <tr>
            <th>IDProduit</th>
            <th>{{'Quantite'|trans}} </th>
            <th>Montant</th>
            <th>Suppression</th>
        </tr>
        <ul>
            {% for panier in paniers %}
            {% set montantquantite = 0 %}
            {%set montantquantite = panier.produit.getPrix()*panier.quantite %}
                <tr>
                    <th>{{panier.produit.getId()}} </th>
                    <th>{{panier.quantite}}</th>
                    <th>{{montantquantite}}</th>
                    <th><a class="btn btn-danger" href="{{ path('deleteproduitpanier', {id: panier.getId()}) }}">Supprimer</a></th>
                    {%set longtab = longtab+inc %}
                    {%set montanttotal = montanttotal+montantquantite %}
                </tr>
            {% endfor %}
        </ul>
    </table>
    
    <p style="text-align: center;">Il y a {{longtab}} articles dans votre panier !</p>
    <p style="text-align: center;">Montant total {{montanttotal}} euros !</p>
    
</div>
{% endblock %}
