{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="container">
    <h3>Liste des produits :</h3>
    <ul>
        {% for produit in produits %}
            <li>Name : {{produit.name}} Quantite : {{produit.quantite}} Prix :  {{produit.prix}}
                <bouton class="btn btn-outline-primary"><a href="{{ path('produit', {id: produit.id}) }}">Voir plus</a></bouton>
            </li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
