{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="container">
    <h3 style="text-align: center;">Liste des produits</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>Suppression</th>
        </tr>
        {% for produit in produits %}
            <tr>
                <th scope="col">{{produit.name}} </th>
                <th scope="col">{{produit.quantite}} </th>
                <th scope="col">{{produit.prix}}</th>
                <th scope="col"><bouton class="btn btn-outline-primary"><a href="{{ path('produit', {id: produit.id}) }}">Voir plus</a></bouton></th>
            </tr>
        {% endfor %}
    </table>
    <div class="mt-3">
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
