{% extends 'base.html.twig' %}

{% block title %}Produit !{% endblock %}

{% block body %}
<div class="container">
<table class="table">
    <tr>
        <th>Name</th> 
        <th>Photo</th>
        <th>Quantite</th> 
        <th>Prix</th>
        <th>Suppression</th>
    </tr>
    <tr>
        <th>{{produit.name}}</th> 
        <th>{{produit.photo}} </th>
        <th>{{produit.quantite}}</th> 
        <th>{{produit.prix}}</th>
        <th><a href="{{ path('deleteproduit', {id: produit.id})}}" class="btn btn-outline-primary">Supprimer</a></th>
    </tr>
</table>



<p>Ajouter au Panier :</p>
<div class="mt-3">
    {{form_start(form)}}
    {{form_end(form)}}
</div>
</div>
{% endblock %}
